
p {
	color:black;
	font: size 18px;
}

h1{
	color: white;
}

.banner {
	background-color: rgb(90, 131, 207);
}

ul {
	list-style-type: circle;
}

li{
	margin: 10px;
}

.cardio{
	font-size: 24px;
	background-color: rgb(207, 90, 90);
	color: white;
	text-align: center;
}

.gi{
	font-size: 24px;
	background-color: rgb(219, 194, 112);
	color: white;
	text-align: center;
}

.resp{
	font-size: 24px;
	background-color: rgb(161, 201, 235);
	color: white;
	text-align: center;
}

.endo{
	font-size: 24px;
	background-color: rgb(209, 121, 38);
	color: white;
	text-align: center;
}
.id{
	font-size: 24px;
	background-color: rgb(130, 213, 133);
	color: white;
	text-align: center;
}

.heme{
	font-size: 24px;
	background-color: rgb(222, 180, 231);
	color: white;
	text-align: center;
}

.rheum{
	font-size: 24px;
	background-color: rgb(87, 90, 90);
	color: white;
	text-align: center;
}

td{
	text-align: center;
}

tr:hover{
	background-color: rgb(172, 205, 243);
}

li.period{
	color: white;
	background-color: rgba(0, 0, 255, 0.298);
	font-size: 22px;
}

.wrapper {
    display: grid;
    grid-template-columns: (2, 1fr);
    gap: 5px;
    grid-auto-rows: 100px, auto;
}

.leftColumn {
    grid-column: 1;
}

.rightColumn {
    grid-column: 3;
}

form.inputBox{
	display: block;
}

.inputHeading {
	border: 10px;
	background-color: rgb(247, 205, 205);
}