p {
    color:black;
    font-size: 16px;
}

.actions {
    color: blue;
    font-size: 26px;
}

.wrapper {
    display: grid;
    grid-template-columns: (2, 1fr);
    gap: 5px;
    grid-auto-rows: 100px, auto;
}

.one {
    grid-column: 1;
}

.two {
    grid-column: 3;
}

#first {
    font-weight: 700;
    font-size: 20px;
}

form {
    margin: 0 0;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

label {
    display: inline-block;
    width: 100px;
}
