/* Reset some default browser styles */
body, h1, h2, ul, p, h3, td {
  margin: 0;
  padding: 10px;
}

h2 {
  justify-content: center;
  text-align: center;
}

/* Add a background color and some padding to the page */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

/* Style the header */
header {
  position: relative;
  color: black;
  text-align: center;
  padding: 1em;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('header.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.3;
}

/* Style the navigation menu */
nav {
  background-color: #333;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 0;
}

nav ul li {
  padding: 0 20px;
}

a{
  color: teal;
}

a:hover {
  color:coral;
}

/* Main content */
main {
  margin: 15px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#our-vision {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}

.vision-block {
  width: 250px;  /* Adjust as needed */
  height: 250px;  /* Adjust as needed */
    /* Makes the div circular */
  display: flex;
  flex: 1 1 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.vision-block-1 {
  background-color: teal;
  color: white;
}

.vision-block-2 {
  background-color: white;
  color: teal;
  
}

.vision-block-3 {
  background-color: teal;
  color: white;
}

.doctor_photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}


/* Footer */
footer {
  text-align: center;
  padding: 1em;
  background-color: #333;
  color: white;
}

/* Add some spacing between sections */
section {
  margin-bottom: 20px;
}